@tailwind base;
@tailwind components;
@tailwind utilities;

/* Luego los estilos de PrimeReact */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

/* Tus estilos personalizados */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Geist', 'Arial', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.p-password > div {
  width: 100% !important;
}
